*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}


/* 
***************************
          HEADER
***************************
*/

header{
    font-family: 'Titan One', cursive;
    text-align: center;
    margin: 50px 0;
}

h1{
    color: rgb(249, 57, 146);
    margin: 50px 0;
}

header p{
    font-family:  sans-serif;
}


/* 
***************************
          MAIN
***************************
*/


.team_user{
    float:left;
    background-color: black;
    color: white;
    margin: 0px 20px 40px 0px;
    width: calc(1200px / 3 - 20px)
}

a{
    color: rgb(28, 185, 238);
}

img{
    height: 100px;
    float:left;
}


.container::after {
    content:'';
    display:block;
    clear: both;
}

.name{
    font-size: 18px;
    font-weight: bold;
}

.job{
    margin: 5px 0;
}

.references{
    padding:20px;
    margin-left: 100px;
}





